@charset "utf-8";
/* 애니맥스 PJ 공통핵심 CSS - core.css */
/* 웹폰트, 공용클래스 */

/*********** 1. 웹폰트 ***********/
/* Roboto체 + Roboto Condensed체 - CDN */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap");

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* Gmarket sans*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
@font-face {
    font-family: GmarketSansLight;
    src: url(../fonts/GmarketSansLight.otf)
}

@font-face {
    font-family: GmarketSansMedium;
    src: url(../fonts/GmarketSansMedium.otf)
}

@font-face {
    font-family: GmarketSansBold;
    src: url(../fonts/GmarketSansBold.otf)
}


/* 
  [ 공통 클래스 이름정의 ]
  1. ibx - inside box 속박스
  2. pt1, pt2 - part1, part2 각 부분박스(비율적용)
  3. cbx - content box 내용박스
  4. bgi - background image 관련 속성
*/

/* 공사중 표시 */
body * {
    outline: 1px dashed gray;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.25em;
    font-family: 'GmarketSansMedium','Noto Sans KR',sans-serif;
    letter-spacing: -.5px;
    background-color: #000;
    color: #fff;
    min-width: 1024px;
    font-family: 'GmarketSansMedium';
}
/************* 2. 공통 class *************/


