@charset "utf-8";

@import url(./reset.css);

/* root 셋팅 */
:root {
    --black-01: #1c1c1c;
    --black-02: #606060;
    --black-03: #999999;
    --font-1: var(--hd-ff);
    --font-2: var(--ct-ff);
    --hd-ff: PlayfairDisplay, Times New Roman, sans-serif;
    --ct-ff: Poppins, Arial, sans-serif;
    --hd-fs-02: clamp(31rem, 9vw, 19.3vw);
    --hd-fs-04: clamp(1.5rem,2vw,1.8rem);
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body {
    color: #000;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: -0.05rem;
}
h2 {
    font-family: var(--font-1);
    font-size: var(--hd-fs-02);
}

/* 12그리드 */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.col-none {
    display: none;
}
.col-block {
    display: none;
}

@media screen and (max-width: 1000px) {
    .col2-1 {
        width: 8.33%;
    }
    .col2-2 {
        width: 16.66%;
    }
    .col2-3 {
        width: 25%;
    }
    .col2-4 {
        width: 33.33%;
    }
    .col2-5 {
        width: 41.66%;
    }
    .col2-6 {
        width: 50%;
    }
    .col2-7 {
        width: 58.33%;
    }
    .col2-8 {
        width: 66.66%;
    }
    .col2-9 {
        width: 75%;
    }
    .col2-10 {
        width: 83.33%;
    }
    .col2-11 {
        width: 91.66%;
    }
    .col2-12 {
        width: 100%;
    }
    .col2-none {
        display: none;
    }
    .col2-block {
        display: none;
    }
}

/* MDLA 공통영역 CSS - common.css */

/************************************
    0. 공통 레이아웃
************************************/
.wrap {
    margin: 0 auto;
    max-width: 1920px;
}
/* 공통 헤딩 */
h2.tit {
    white-space: nowrap;
    letter-spacing: -1rem;
}
.ff-pf{
    font-family: var(--font-1);
    letter-spacing: 0.1rem;
}
h4.tit {
    font-size: var(--hd-fs-04);
}
/************************************
    1. 상단영역 
************************************/
/* 1. 헤더 */
header{
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1vw;
    background-color: #fff;
    border-bottom: 1px solid #1c1c1c;
}
/* 1-1. 로고 */
header .logo {
    display: flex;
    align-items: center;
}
header .logo > a {
    display: inline-block;
    width: 10.5vw;
    aspect-ratio: calc(1136 / 220);
    background: url(../images/mdla1.png) no-repeat center/contain;
}
/* navigation common */
.nav-items button,
.nav-items a {
    font-size: 1.8rem;
}
/* 1-2. 검색영역 */
.search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 1-2-1. 검색버튼 */
.search-box .search-btn {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--black-02);
    text-transform: uppercase;
    transition: 0.2s linear;
}
.search-box .search-btn:hover,
.search-box .search-btn:focus-visible {
    background-color: #000;
    color: #fff;
}
.search-box .search-icon {
    min-width: 1.1vw;
    width: max(1.1vw, 1.5rem);
    display: flex;
    align-items: center;
}
/* 1-2-2. 검색박스 */
.search-dropdown {
    display: none;
}
/* 1-2-2-1. 검색어 입력칸 */

/* 1-2-2-2. 검색 카테고리 */

/* 1-3. GNB메뉴 */
.nav{
    display: flex;
    justify-content: flex-end;
}
.nav-list {
    display: flex;
    gap: 1.8rem;
}
.nav-item{
    display: flex;
}
/********************************** 
    2. 전체화면 메뉴영역
**********************************/

/* 2-1. 전체메뉴 배경 */


/* 2-2. 전체화면 메뉴 */
.fsc-menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding-top: clamp(5.2rem,7vw,7.8rem);
}
.menu-bg{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-01);
}
.fsc-menu-wr{
    height: 100%;
}
.fsc-menu-box{
    display: flex;
    height: 100%;
    color: #fff;
}
.fsc-menu-foot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fsc-menu-foot .fsc-menu{
    padding: 4rem 0;
    padding-left: 1rem;
    line-height: 1.3;
}
.fsc-list .item{
    letter-spacing: -0.1rem;
    font-size: 10rem;
}
[data-menu-link] span {
    -webkit-text-stroke: 0.1rem #fff;
    position: relative;
    transition: color .35s cubic-bezier(.3,.86,.36,.95);
    transition-delay: calc(var(--i)*15ms);
}
[data-menu-link]:hover span {
    color: transparent;
}
.fsc-menu-foot .fsc-txt{
    padding: 3.5rem 2.5rem 5rem;
    border-top: 1px solid #fff;
}
.fsc-menu-foot .fsc-txt span{
    font-size: 3.5rem;
    line-height: 1.3;
}
.fsc-menu-foot .fsc-txt .ff-pf{
    display: inline-block;
    width: 65%;
}
.fsc-social-box{
    display: flex;
    align-items: flex-end;
    gap: 5rem;
    padding: 6rem 2.5rem 7.2rem;
    border-left: 1px solid #fff;
}
.fsc-mail .tit{
    margin-bottom: 1rem;
}
.fsc-mail .link{
    margin-top: 5px;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
}
.fsc-sns-list{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: -0.5vw;
}
.fsc-sns-items .item > svg{
    width: 3rem;
}
/* 전체화면 열였을 때 */
header.inverse{
    background-color: var(--black-01);
    border-color: #fff;
}
header.inverse .nav-items a{
    color: #fff;
}
header.inverse .logo > a {
    background-image: url(../images/mdla1_w.png);
}
header.inverse .search-box .search-btn {
    border-color: #fff;
    color: #fff;
}
header.inverse .search-box .search-icon {
    color: #fff;
}
