@charset "utf-8";

/* 메인 CSS - main.css */

/********************************** 
    1. 메인그림판영역 
**********************************/
.cursor-board {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.6s;
}

/* 2-1. 그림판내용 */
.cursor-board .cursor-img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    height: 53rem;
    aspect-ratio: 0.7/1;
    text-align: center;
}
.cursor-board .cursor-img-wrapper img{
    height: 100%;
}
.cursor-board .h3-cases{
    margin-top: 1rem;
    font-family: var(--font-1);
    font-size: var(--hd-fs-03);
    font-weight: 400;
    text-align: left;
}
.cursor-board .h3-cases .client-name {
    display: inline-block;
    padding-right: 10px;
    font-weight: 600;
}

/* 2. 메인그림판 텍스트영역 */
.text-board {
    pointer-events: none;
    position: relative;
    min-height: 100vh;
    padding:15rem 2rem 0 2rem;
}

.text-board .text-cases {
    font-family: var(--font-2);
    font-size: clamp(6.4rem, 3vw, 30rem);
}

.text-board .text-cases .subhead-span {
    display: inline-block;
    width: 60%;
    font-family: var(--font-1);
}

/* 5. 메인영역 */
.main {
    position: relative;
}