@charset "utf-8";

/* MDLA 리셋 CSS - reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{ margin:0; padding:0; box-sizing:border-box; border:0; vertical-align:baseline; letter-spacing: -0.1rem;} 
dl, ul, ol, menu, li { list-style:none } 
fieldset, img { border:0 none; box-sizing:border-box } 
input, select, textarea, button { vertical-align:middle; margin:0; padding:0; font-family:inherit; box-sizing:border-box } 
button {background: none;border: none; cursor: pointer; font-family: inherit} 
address, caption, cite, code, dfn, em, var { font-style:normal; font-weight:normal; box-sizing:border-box } 
input, textarea, img { max-width:100% } 
a,button {color: inherit;}
a, a:hover, a:visited, a:active { text-decoration:none } 
sup { font-size:small; vertical-align:text-top } 
sub { font-size:small; vertical-align:text-bottom } 
button, select { -webkit-appearance:none; appearance:none } 

table { width:100%; table-layout:fixed; border-collapse:collapse; border-spacing:0 } 
table caption { overflow: hidden; font-size: 0; line-height: 0; font-size: 0;height: 0;width: 1px;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block } 

section, main { display:block } 
img { max-width: 100%; vertical-align: middle; display: inline-block;}
h1, h2, h3, h4, h5, h6, em, strong { font-weight:600; } 

/* 폰트 */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Regular.woff2) format("woff2"), url(../fonts/PlayfairDisplay-Regular.woff) format("woff"), url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Medium.woff2) format("woff2"), url(../fonts/PlayfairDisplay-Medium.woff) format("woff"), url(../fonts/PlayfairDisplay-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.woff2) format("woff2"), url(../fonts/PlayfairDisplay-Bold.woff) format("woff"), url(../fonts/PlayfairDisplay-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.woff2) format("woff2"), url(../fonts/Poppins-Bold.woff) format("woff"), url(../fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.woff2) format("woff2"), url(../fonts/Poppins-Medium.woff) format("woff"), url(../fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.woff2) format("woff2"), url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Light.woff2) format("woff2"), url(../fonts/Poppins-Light.woff) format("woff"), url(../fonts/Poppins-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* 접근성 
-------------------------------------------------------------- */
.blind,
.hidden {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0
}

.soundOnly {
    display: block !important;
    position: absolute !important;
    top: -9999px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
}

.sr,
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    margin: -1px;
    height: 1px;
    width: 1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    word-wrap: normal;
}

